[package]
name = "eventio"
version = "0.4.0"
description = "A collection of event I/O processors for event-processing applications."
readme = "README.md"
documentation = "https://docs.rs/eventio"
homepage = "https://github.com/petabi/eventio"
repository = "https://github.com/petabi/eventio"
license = "Apache-2.0"
authors = [
    "Min Kim <msk@dolbo.net>",
    "Min Shao <min.shao1988@gmail.com>"
]
edition = "2018"
exclude = ["/.github"]

[badges]
codecov = { repository = "petabi/eventio", service = "github" }

[dependencies]
crossbeam-channel = "0.5"
kafka = "0.8"
nom = "6"
pcap-parser = { version = "0.9", features = ["data", "serialize"] }
rmp-serde = "0.14"
serde = { version = "1", features = ["derive"] }
serde_bytes = "0.11"
