[package]
name = "eventio"
version = "0.3.4"
description = "A collection of event I/O processors for event-processing applications."
homepage = "https://github.com/petabi/eventio"
repository = "https://github.com/petabi/eventio"
documentation = "https://docs.rs/eventio"
license = "Apache-2.0"
authors = [
    "Min Kim <msk@dolbo.net>",
    "Min Shao <min.shao1988@gmail.com>"
]
edition = "2018"
exclude = ["/.github"]

[badges]
codecov = { repository = "petabi/eventio", service = "github" }

[dependencies]
crossbeam-channel = "0.4"
kafka = "0.8"
nom = "5"
pcap-parser = { version = "^0.8.1", features = ["data", "serialize"] }
rmp-serde = "0.14"
serde = { version = "1", features = ["derive"] }
serde_bytes = "0.11"
